<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAlbumService" messageEncoding="Mtom" />
                <binding name="WSHttpBinding_IImageService" messageEncoding="Mtom" />
                <binding name="WSHttpBinding_IUserService" messageEncoding="Mtom" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5669/AlbumService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAlbumService" contract="AlbumService.IAlbumService"
                name="WSHttpBinding_IAlbumService">
                <identity>
                    <userPrincipalName value="X124\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5669/ImageService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IImageService" contract="ImageService.IImageService"
                name="WSHttpBinding_IImageService">
                <identity>
                    <userPrincipalName value="X124\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:5669/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="UserService.IUserService"
                name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="X124\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>